/* ###################################
 Normalize
 ################################### */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* 
 ###################################
 Normalize end
 ###################################
 */
.login-signup {
  max-width: 35rem;
  position: relative;
  overflow: hidden;
  width: 35rem;
  height: 50rem;
  margin-top: 5rem;
  margin-inline: auto;
  perspective: 500px;
}

.login-signup .signUp,
.login-signup .logIn {
  position: absolute;
  top: 0;
  transform-origin: top center;
  transition: transform 400ms ease-in-out;
  padding: 2rem 0.5rem;
}

.login-signup .logIn {
  transform: rotateX(180deg);
  transform-origin: top;
}

.login-signup .signUp {
  transform: rotateX(-180deg);
  transform-origin: top;
}

.login-signup .logIn.active,
.login-signup .signUp.active {
  transform: rotateX(0deg);
  transition: transform 400ms ease-in-out;
}

.login-signup #signup,
.login-signup #login {
  cursor: pointer;
}

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.5rem;
}

body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
  background-image: radial-gradient(circle at left 80%, rgba(193, 207, 160, 0.5) 32%, rgba(227, 231, 243, 0.5) 31%), radial-gradient(circle at right 10%, rgba(227, 231, 243, 0.5) 31%, rgba(193, 207, 160, 0.5) 32%);
  background-repeat: no-repeat;
  min-height: 100%;
}

form {
  min-width: 30rem;
}

form .input-group {
  display: block;
  position: relative;
  line-height: 1.42857143;
  margin: 1rem 0;
  padding: 0.5rem;
}

form .input-group ::placeholder {
  color: rgba(255, 255, 255, 0);
}

form .input-group input,
form .input-group textarea,
form .input-group select {
  width: 100%;
  outline: 2px solid rgba(255, 255, 255, 0);
  border-radius: 0rem;
  border: none;
  margin: 2rem 0 0;
  line-height: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 10px 20px rgba(206, 216, 181, 0.8), 0 10px 20px rgba(206, 216, 181, 0.3);
  filter: hue-rotate(45deg);
  appearance: none;
  transition: all 200ms ease;
}

form .input-group input:is(:focus-within) ~ label,
form .input-group textarea:is(:focus-within) ~ label,
form .input-group select:is(:focus-within) ~ label {
  transform: translate(0rem, 0rem);
  font-size: smaller;
}

form .input-group label {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(1.5rem, 3.5rem);
  transition: transform 200ms ease;
}

form .input-group textarea {
  resize: vertical;
  min-height: 10ch;
  max-height: 300rem;
}

form .input-group textarea::-webkit-scrollbar {
  width: 0.3rem;
}

form .input-group select {
  position: relative;
  line-height: 1.42;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-caret-down' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M18 15l-6 -6l-6 6h12' transform='rotate(180 12 12)' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
  background-size: 20px;
  /* Remove focus outline */
  /* Remove IE arrow */
}

form .input-group select:focus {
  outline: none;
}

form .input-group select::-ms-expand {
  display: none;
}

form .input-group select ~ label {
  display: none;
}

form .input-group span {
  display: none;
  font-size: small;
  color: red;
}

form .input-group input:not(:placeholder-shown) ~ label,
form .input-group textarea:not(:placeholder-shown) ~ label,
form .input-group select:not(:placeholder-shown) ~ label {
  transform: translate(0rem, 0rem);
  font-size: smaller;
}

form .input-group:focus-within input,
form .input-group:focus-within textarea,
form .input-group:focus-within select {
  outline: 0.3rem solid rgba(184, 158, 12, 0.3);
  border-radius: 0.5rem;
  box-shadow: none;
}

form .input-group:hover label {
  transform: translate(0rem, 0rem);
  font-size: smaller;
}

form .input-group:hover input,
form .input-group:hover textarea,
form .input-group:hover select {
  border-radius: 0.5rem;
  outline: 0.3rem solid rgba(184, 158, 12, 0.3);
  box-shadow: none;
}

.btn {
  position: relative;
  display: block;
  appearance: none;
  border: none;
  outline: 2px solid rgba(255, 255, 255, 0);
  background-color: none;
  margin: 2rem 0 2rem 0.5rem;
  box-shadow: 0 10px 20px rgba(205, 215, 180, 0.2), 0 20px 40px rgba(205, 215, 180, 0.1);
  transition: all 200ms ease;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifs;
}

.btn:hover {
  outline: 2px solid rgba(184, 158, 12, 0.3);
  background-color: rgba(184, 158, 12, 0.6);
  border-radius: 0.5rem;
}
/*# sourceMappingURL=app.css.map */