.login-signup {
  max-width: 35rem;

  position: relative;
  overflow: hidden;
  width: 35rem;
  height: 50rem;
  margin-top: 10rem;
  margin-inline: auto;
  perspective: 1000px;
  .signUp,
  .logIn {
    position: absolute;
    top: 0;

    transform-origin: top center;
    transition: transform 1000ms ease-in-out;
    padding: 2rem 0.5rem;
  }
  .logIn {
    transform: rotateX(180deg);
    transform-origin: top;
  }

  .signUp {
    transform: rotateX(-180deg);
    transform-origin: top;
  }

  .logIn.active,
  .signUp.active {
    transform: rotateX(0deg);
    transition: transform 1000ms ease-in-out;
  }

  #signup,
  #login {
    cursor: pointer;
  }
}
.user-info {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  .username {
    align-items: center;
    justify-content: center;
    margin: 3rem;
    background-color: $--clr-white06;
    border-radius: 50%;
    color: #c7ba5f;
    width: 3.5rem;
    aspect-ratio: 1 / 1;
    padding: 0.25rem;
    outline: 0.75rem solid rgba(#c7ba5f, 1);
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3rem;
  }
  a {
    text-decoration: none;
    color: #333;
  }
}
.alert {
  display: block;
  position: absolute;

  top: 2rem;
  right: 2rem;

  background-color: $--clr-white06;
  padding: 1rem 2rem;
  border-radius: 0.5rem;

  font-weight: bold;
}
